################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DbCommon/bin/Debug/netstandard2.0
/DbCommon/obj
/DbCommon/Properties
/PracticeEntityFrameworkCore/.vs/PracticeEntityFrameworkCore
/PracticeEntityFrameworkCore/Practice/obj
/PracticeEntityFrameworkCore/Practice/bin/Debug/netcoreapp3.1
